<!DOCTYPE html>
<html>

<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
	
	<title>FlaskTest</title>
</head>

<body>
	<script src="{{url_for('static', filename='button.js')}}"></script>
	<script src="{{url_for('static', filename='filereader.js')}}"></script>
	<script src="{{url_for('static', filename='search.js')}}"></script>
	<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"
  ></script>


	<nav
	class="navbar fixed-top navbar-dark bg-black navbar-expand-lg px-5"
  >
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
		<img src="static/logonav.png" width="60vw" height="60vh"/>
	  </a>
	  <button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbarNavAltMarkup"
		aria-controls="navbarNavAltMarkup"
		aria-expanded="false"
		aria-label="Toggle navigation"
	  >
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav ms-auto">
		  <a class="nav-link mx-3" href="#"><h4 class="display-3">About</h4></a>
		  <a class="nav-link mx-3" href="#random"><h4 class="display-3">Random Picks</h4></a>
		  <a class="nav-link mx-3" href="#service"><h4 class="display-3">Contact</h4></a>
		</div>
	  </div>
	</div>
  </nav>

  <section class="text-light px-5 home-banner text-center">
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
          	<div class="col-sm-6 home-banner-text">
				<div>
					<img src="static/logowhite.png"/>
				</div>
				<p class="lead py-2">
					Twitter Cow gathers information on Twitter's most popular destinations. 
					Find your next vacation, and milk the content, with Twitter Cow. 
				</p>
				<a
				href="#random"
				class="btn btn-outline-light"
				>See Today's Picks!</a>
       	 	</div>
			<div class="col-sm-3"></div>
		</div>
    </div>
  </section>

  <section class="text-light p-5 banner-2 text-start" id="random">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 display-2 py-5">
				Today's Randomized Picks
			</div>
		</div>

        <div class="row">
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
				<img src="static/blossom.jpg" class="card-img" alt="...">
				<div class="card-img-overlay">
					<div class="row">
						<div class="col-sm-12">
				 		 <h3 class="card-title display-5">Japan</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5 pt-4">
				 			<img src="static/moometer.png" width="100vh" height="100vh">
						</div>
						<div class="col-sm-7 pt-4">
							<h4 class="card-text display-6 text-left"> MooMeter Score: 123.4 </h4>
						  </div>
					</div>
				</div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/canals.jpg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<div class="row">
							<div class="col-sm-12">
							  <h3 class="card-title display-5">Italy</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 pt-4">
								 <img src="static/moometer.png" width="100vh" height="100vh">
							</div>
							<div class="col-sm-7 pt-4">
								<h4 class="card-text display-6 text-left"> MooMeter Score: 114.5 </h4>
							  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/china.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<div class="row">
							<div class="col-sm-12">
							  <h3 class="card-title display-5">China</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 pt-4">
								 <img src="static/moometer.png" width="100vh" height="100vh">
							</div>
							<div class="col-sm-7 pt-4">
								<h4 class="card-text display-6 text-left"> MooMeter Score: 83.3 </h4>
							  </div>
						</div>
					</div>
				</div>
			</div>
      	</div>

		  <div class="row py-5">
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
				<img src="static/newzealand.jpeg" class="card-img" alt="...">
				<div class="card-img-overlay">
					<div class="row">
						<div class="col-sm-12">
				 		 <h3 class="card-title display-5">New Zealand</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5 pt-4">
				 			<img src="static/moometer.png" width="100vh" height="100vh">
						</div>
						<div class="col-sm-7 pt-4">
							<h4 class="card-text display-6 text-left"> MooMeter Score: 97.1 </h4>
						  </div>
					</div>
				</div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/jamaica.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<div class="row">
							<div class="col-sm-12">
							  <h3 class="card-title display-5">Jamaica</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 pt-4">
								 <img src="static/moometer.png" width="100vh" height="100vh">
							</div>
							<div class="col-sm-7 pt-4">
								<h4 class="card-text display-6 text-left"> MooMeter Score: 101.0 </h4>
							  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/paris.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<div class="row">
							<div class="col-sm-12">
							  <h3 class="card-title display-5">France</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 pt-4">
								 <img src="static/moometer.png" width="100vh" height="100vh">
							</div>
							<div class="col-sm-7 pt-4">
								<h4 class="card-text display-6 text-left"> MooMeter Score: 93.9 </h4>
							  </div>
						</div>
					</div>
				</div>
			</div>
      	</div>

   	 </div>
  </section>

  <section class="text-light p-5 banner-2 text-start" id="service">
	<div class="container-fluid">
		<div class="row py-5">
			<div class="col-sm-6 pt-5">
				<form class="d-flex pt-5" onsubmit="return false;">
					<input class="form-control me-2" type="text" id="searchinput" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light" onclick="searching()">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
					</button>
				</form>
			</div>
			<div class="col-sm-6 pt-5 display-2 text-end">
				Search Any Keyword
			</div>
		</div>

        <div class="row">
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
				<img src="static/forest.jpeg" class="card-img" alt="...">
				<div class="card-img-overlay">
				  <h5 class="card-title display-5" id="rank-1">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text">Last updated 3 mins ago</p>
				</div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/shore.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
					  <h5 class="card-title display-5" id="rank-2">Card title</h5>
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					  <p class="card-text">Last updated 3 mins ago</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/flowers.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<h5 class="card-title display-5" id="rank-3">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">Last updated 3 mins ago</p>
					</div>
				</div>
			</div>
      	</div>

		  <div class="row py-5">
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
				<img src="static/trees.jpeg" class="card-img" alt="...">
				<div class="card-img-overlay">
				  <h5 class="card-title display-5" id="rank-4">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text">Last updated 3 mins ago</p>
				</div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/pond.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
					  <h5 class="card-title display-5" id="rank-5">Card title</h5>
					  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					  <p class="card-text">Last updated 3 mins ago</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card bg-dark text-white">
					<img src="static/park.jpeg" class="card-img" alt="...">
					<div class="card-img-overlay">
						<h5 class="card-title display-5" id="rank-6">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">Last updated 3 mins ago</p>
					</div>
				</div>
			</div>
      	</div>

   	 </div>
  </section>
  
  <!---
  <section class="text-light p-5 banner-3 text-center">
	<div class="container-fluid">
        <div class="row">
			<div class="col-sm-12">
				<input type="button"
				class="btn btn-outline-light "
				id="sean-button"
				onclick="incrementVal()"
				value = "Test"
				inc = "0"
				/>
			</div>
      	</div>
    </div>
  </section>
-->

<section class="text-light py-5 banner-3 text-center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 py-5">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 py-5">
				<img src="static/mooexplain.png" width="80%" class="py-5">
			</div>
		</div>
	</div>
</section>
</footer>
	<div class="text-center bg-black text-white py-3" id="copyright">
		<h6 class="lead">© Copyright 2023 | Twitter Cow Inc.</h6>
	</div>
</footer>

</body>

</html>